<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ashish.usercommunication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ToastActivity"
            android:label="@string/ToastActivity" />
        <activity
            android:name=".SnackbarActivity"
            android:label="@string/SnackbarActivity" />
        <activity
            android:name=".DialogActivity"
            android:label="@string/DialogActivity" />
        <activity
            android:name=".NotificationActivity"
            android:label="@string/NotificationsActivity" />
        <activity android:name=".NotificationResultActivity"></activity>
    </application>

</manifest>